* {
    margin: 0;
    padding: 0;

}
body {
    font-size: 16px;
}
.contenedor {
    background-color: grey;
    color:white;
    width: 80%;
    border-radius: 10px;
    margin: 30px auto;

}
.contenedor h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    font-size: 1em;
}