* {
    margin: 0;
    padding: 0;
}


div {
    width: 200px;
    height: 200px;
    background-color: red;
        margin-top: 10px;
        margin-left: 10px;

}
.caja1 {
    /* margin: auto; */
    /* margin-top: 10px; */
    margin-left: 100px;
        /* box-sizing: content-box; */
        box-sizing: border-box;



}
.caja2 {
    /* border: 5px solid blue; */
    border-bottom: 10px dotted yellow;
    border-top: 5px dashed green;
    border-left: 5px dashed blue;
    border-right: 5px dashed violet;
    /* box-sizing: content-box; */
            box-sizing: border-box;

}
.caja3 {
    padding-left: 10px;
    padding-top: 10px;
        /* box-sizing: content-box; */
                box-sizing: border-box;


}
.caja4 {
    /* overflow: hidden; */
        /* overflow: scroll; */
            overflow: auto;




}
img {
    display: block;
}
.menu {
background-color: grey;
width: 100%;
height: 70px;
text-align: center;
box-sizing: border-box;
padding-bottom: 10px;

}
.menu li {
    font-size: 24px;
    display: inline;
    margin: 80px;
}
.menu li a {
    text-decoration: none;
    color: white;
}